In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('bbc-text.csv')
data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
5          politics  howard hits back at mongrel jibe michael howar...
6          politics  blair prepares to name poll date tony blair is...
7             sport  henman hopes ended in dubai third seed tim hen...
8             sport  wilkinson fit to face edinburgh england captai...
9     entertainment  last star wars  not for children  the sixth an...
10    entertainment  berlin cheers for anti-nazi film a german movi...
11         business  virgin blue shares plummet 20% shares in austr...
12         business  crude oil prices back above $50 cold weather a...
13         politics  hague  given up  his pm ambition former conser...
14            sport  moya emotional after davis cup win carlos moya...
15         business  s korean credit card firm rescued south korea ...
16         politics  howard backs stem cell research michael howard...
17            sport  connors boost for british tennis former world ...
18         business  japanese banking battle at an end japan s sumi...
19             tech  games maker fights for survival one of britain...
20             tech  security warning over  fbi virus  the us feder...
21             tech  halo 2 heralds traffic explosion the growing p...
22            sport  bates seals takeover ken bates has completed h...
23            sport  cole faces lengthy injury lay-off aston villa ...
24             tech  mobile audio enters new dimension as mobile ph...
25            sport  moya fights back for indian title carlos moya ...
26    entertainment  career honour for actor dicaprio actor leonard...
27             tech  mobile gig aims to rock 3g forget about going ...
28         politics  terror suspects face house arrest uk citizens ...
29    entertainment  halloween writer debra hill dies screenwriter ...
...             ...                                                ...
2195          sport  owen delighted with real display michael owen ...
2196       business  gm issues 2005 profits warning general motors ...
2197       politics  campbell returns to election team ex-downing s...
2198       business  asian banks halt dollar s slide the dollar reg...
2199       business  wall street cool to ebay s profit shares in on...
2200           tech  uk pioneers digital film network the world s f...
2201       business  ban on forced retirement under 65 employers wi...
2202           tech  local net tv takes off in austria an austrian ...
2203       politics  profile: david miliband david miliband s rapid...
2204           tech  argonaut founder rebuilds empire jez san  the ...
2205  entertainment  dance music not dead says fatboy dj norman coo...
2206       politics  kennedy questions trust of blair lib dem leade...
2207           tech  california sets fines for spyware the makers o...
2208  entertainment  snicket tops us box office chart the film adap...
2209          sport  time to get tough on friendlies  for an intern...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...
2215           tech  junk e-mails on relentless rise spam traffic i...
2216  entertainment  top stars join us tsunami tv show brad pitt  r...
2217           tech  rings of steel combat net attacks gambling is ...
2218          sport  davies favours gloucester future wales hooker ...
2219       business  beijingers fume over parking fees choking traf...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [9]:
data.shape

(2225, 2)

In [11]:
data['category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [13]:
len(data)

2225

In [4]:
train_size = int(len(data) * .8)
train_size

1780

In [15]:
type(data)

pandas.core.frame.DataFrame

In [5]:
test_size=len(data)-train_size
test_size

445

In [12]:
x_data = data.drop('category', axis=1) 
x_data.head()
#daibetes dataset ka name ha aur class uska column ha ya hum classes ka classification kar raha ha

                                                text
0  tv future in the hands of viewers with home th...
1  worldcom boss  left books alone  former worldc...
2  tigers wary of farrell  gamble  leicester say ...
3  yeading face newcastle in fa cup premiership s...
4  ocean s twelve raids box office ocean s twelve...

In [18]:
len(x_data)

2225

In [13]:
labels = data['category']
labels.head()

0             tech
1         business
2            sport
3            sport
4    entertainment
Name: category, dtype: object

In [27]:
def train_test_split(data, train_s
    train = data[:train_size]
    test = data[train_size:]
    return train, test

SyntaxError: invalid syntax (<ipython-input-27-d92a4fb1775d>, line 2)

In [18]:
train_text, test_text,train_cat, test_cat = train_test_split(x_data, labels, test_size=0.3, random_state=101)

In [20]:
train_cat

920     entertainment
1500             tech
1711            sport
1978         business
1125         business
940             sport
2001         business
1284         business
2205    entertainment
719          business
1420    entertainment
1693            sport
1568    entertainment
80           business
195          politics
2174             tech
2209            sport
1557            sport
187             sport
116     entertainment
1974             tech
864              tech
1869            sport
773             sport
1893             tech
1972         business
1862            sport
1835            sport
193          business
162          politics
            ...
343          politics
1643         business
1662         business
1273             tech
1580    entertainment
1442    entertainment
2107         politics
1949         business
371              tech
2184         business
1530         business
623             sport
1875    entertainment
49           business
2088            sport
477              tech
908              tech
1728            sport
732             sport
936             sport
1668            sport
1576            sport
973          business
75               tech
2045            sport
599              tech
1599             tech
1361         business
1547    entertainment
863              tech
Name: category, Length: 1557, dtype: object

In [28]:
len(test_cat)

668

# Encoding the data

In [23]:
max_words = 1000
tokenize = keras.preprocessing.text.Tokenizer(num_words=max_words, \
                                              char_level=False)

In [24]:
tokenize.fit_on_texts(train_text) # fit tokenizer to our training text data
x_train = tokenize.texts_to_matrix(train_text)
x_test = tokenize.texts_to_matrix(test_text)

In [25]:
x_train

array([[0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.]])

In [22]:
import os
# print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.
import itertools
import os

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix

from tensorflow import keras
layers = keras.layers
models = keras.models

In [26]:
encoder = LabelEncoder()
encoder.fit(train_cat)
y_train = encoder.transform(train_cat)
y_test = encoder.transform(test_cat)

In [45]:
encoder = LabelEncoder()
encoder.fit(train_cat)
y_train = encoder.transform(train_cat)
y_test = encoder.transform(test_cat)

ValueError: y contains previously unseen labels: 'standard life concern at lse bid standard life is the latest shareholder in deutsche boerse to express concern at the german stock market operator s plans to buy the london stock exchange.  it said deutsche boerse had to show why its planned £1.35bn ($2.5bn) offer for the lse was good for shareholder value. reports say standard life  which owns a 1% stake in deutsche boerse  may seek a shareholder vote on the issue. fellow shareholders us-based hedge fund atticus capital and uk-based tci fund management have also expressed doubts.  deutsche boerse s supervisory board has approved the possible takeover of the lse despite the signs of opposition from investors.  the onus is on deutsche boerse s management to demonstrate why the purchase of the lse creates more value for shareholders than other strategies  such as a buyback   said richard moffat  investment director of uk equities at standard life investments. atticus capital  holding 2% of deutsche boerse  wants it to buy back its own shares rather than buy the lse. and tci which holds about 5%  has made a request for an extraordinary shareholders meeting to be held to vote on replacing the company s entire supervisory board. it has also demanded that shareholders be consulted about the proposed acquisition  and whether the operator of the frankfurt stock exchange should return $500m (£266m) to shareholders instead.  in december  deutsche boerse  which also owns the derivatives market eurex and the clearing firm clearstream  put an informal offer of 530 pence per lse share on the table. however  the lse said the cash offer  undervalued  both its own business and the benefits of such a tie-up. since then an improved offer from deutsche boerse has been anticipated as its management has continued talks with lse chief executive clara furse. but the london exchange is also holding talks with deutsche boerse s rival euronext  which operates the amsterdam  brussels  lisbon and paris exchanges  as well as london-based international derivatives market liffe.'